#resize{

	 margin-right: auto;
  	margin-left: auto;
    width: 250px;
    height: 250px;

    background-size: cover;
    background-image: url(img/dog.jpg);
    background-position: 55% 55%;
    border-radius: 15px;
}

.mb-1{
	margin-top: -20px;
	padding-top: -50px;
}